[auth]
redirect_uri = "${SERVER_PROTOCOL}://${SERVER_HOSTNAME}:${SERVER_PORT}/oauth2callback"
cookie_secret = "${AUTH_COOKIE_SECRET}"
client_id = "${AUTH_CLIENT_ID}"
client_secret = "${AUTH_CLIENT_SECRET}"
server_metadata_url = "${AUTH_SERVER_METADATA_URL}"

[connections.postgresql]
dialect = "postgresql"
host = "${DB_HOST}"
port = "${DB_PORT}"
database = "${DB_DATABASE}"
username = "${DB_USERNAME}"
password = "${DB_PASSWORD}"
